.pw_hanbaotubiao {width:30px;fill:white;display:block;}
.pw_sishixuexi_2 {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
h2 {font-weight:600;margin-top:2.5rem;margin-bottom:1.25rem;color:#ff8528;font-family:Microsoft Yahei;font-size:1.4rem;line-height:1.4;text-decoration:none;}
h1 {font-weight:600;margin-top:2.5rem;margin-bottom:1.25rem;color:#2d2d2d;font-family:Microsoft Yahei;font-size:2.8rem;line-height:1.2;}
.pw_sishixuexi_3 {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
.pw_tuwenfenzuyi_7 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
h3 {font-weight:600;margin-top:2.5rem;margin-bottom:1.25rem;color:#ff8528;font-family:Microsoft Yahei;font-size:1.4rem;line-height:1.4;}
.pw_tupian36_7 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_sishixuexi {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
h5 {font-weight:600;margin-top:2.5rem;margin-bottom:1.25rem;color:#2d2d2d;font-family:Microsoft Yahei;font-size:0.7rem;line-height:1.6;letter-spacing:0.07rem;}
h4 {font-weight:600;margin-top:2.5rem;margin-bottom:1.25rem;color:#2d2d2d;font-family:Microsoft Yahei;font-size:1.3rem;line-height:1.4;}
.pw_3lantuce_6 {background-color:white;padding-bottom:20px;padding-top:20px;}
.pw_fenlanrongqi_6 {display:block;float:none;margin-left:auto;margin-right:auto;margin-top:30px;max-width:1200px;width:90%;}
.pw_fenlanrongqi_6 > .pw-widget:nth-child(4n + 1), .pw_fenlanrongqi_6 > .pw-cells .pw-cell:nth-child(4n + 1) {margin-left:1%;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:left;max-width:inherit;}
.pw_fenlanrongqi_6 > .pw-widget:nth-child(4n + 2), .pw_fenlanrongqi_6 > .pw-cells .pw-cell:nth-child(4n + 2) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_6 > .pw-widget:nth-child(4n + 3), .pw_fenlanrongqi_6 > .pw-cells .pw-cell:nth-child(4n + 3) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_6 > .pw-widget:nth-child(4n + 4), .pw_fenlanrongqi_6 > .pw-cells .pw-cell:nth-child(4n + 4) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_miaoshuwenben_17 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_tupian36_9 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_miaoshuwenben_19 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_2019shuxuejianmojingsaisaitijiangping_4 {display:block;max-width:;width:100%;text-align:center;padding-top:40px;}
.pw_3lantuce_5 {background-color:white;padding-bottom:20px;padding-top:20px;display:block;}
.pw_rongqi_2 {margin-left:auto;margin-right:auto;max-width:;width:100%;min-height:12em;position:;display:block;float:none;}
.pw_3lantuce {background-color:white;padding-bottom:20px;padding-top:20px;display:block;}
.pw_tuwenfenzuyi_4 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_tupian36 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_yidongshipei {cursor:pointer;display:none;float:right;min-height:30px;min-width:30px;}
.pw_miaoshuwenben {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_rongqi {margin-left:auto;margin-right:auto;width:100%;display:block;float:none;background-size:cover;background-position:center center;}
.pw_tuwenfenzuyi_9 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_caidanxiang {float:;margin-bottom:10px;margin-top:10px;font-family:Microsoft Yahei;margin-right:;text-align:center;background-color:;}
.pw_fenlanrongqi_5 {display:block;float:none;margin-left:auto;margin-right:auto;margin-top:30px;max-width:1200px;width:90%;}
.pw_fenlanrongqi_5 > .pw-widget:nth-child(4n + 1), .pw_fenlanrongqi_5 > .pw-cells .pw-cell:nth-child(4n + 1) {margin-left:1%;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:left;max-width:inherit;}
.pw_fenlanrongqi_5 > .pw-widget:nth-child(4n + 2), .pw_fenlanrongqi_5 > .pw-cells .pw-cell:nth-child(4n + 2) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_5 > .pw-widget:nth-child(4n + 3), .pw_fenlanrongqi_5 > .pw-cells .pw-cell:nth-child(4n + 3) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_5 > .pw-widget:nth-child(4n + 4), .pw_fenlanrongqi_5 > .pw-cells .pw-cell:nth-child(4n + 4) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_2019shuxuejianmojingsaisaitijiangping_3 {display:block;max-width:;width:100%;text-align:center;padding-top:40px;}
.pw_tuwenfenzuyi_6 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_tupian36_4 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_miaoshuwenben_10 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_tuwenfenzuyi_12 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_tupian36_6 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_narongbaoguo {margin-left:auto;margin-right:auto;max-width:;min-height:50px;width:90%;z-index:1000;text-align:;}
.pw_3lantuce_4 {background-color:white;padding-bottom:20px;padding-top:20px;}
.pw_dingbudaohangtiao {background-color:;display:block;float:none;margin-right:auto;margin-left:auto;width:100%;font-family:Microsoft Yahei;}
.pw_huodongdongtai {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
.pw_2019shuxuejianmojingsaisaitijiangping_5 {display:block;max-width:;text-align:center;padding-top:40px;clear:;}
.pw_tuwenfenzuyi_8 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_tupian_5 {width:100%;min-height:;margin-right:auto;margin-left:auto;max-width:110px;height:;max-height:55px;margin-top:-3rem;margin-bottom:;}
.pw_miaoshuwenben_16 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_fenlanrongqi_4 {display:flex;float:none;margin-left:auto;margin-right:auto;margin-top:30px;max-width:1200px;width:90%;align-items:stretch;flex-wrap:wrap;flex-direction:row;}
.pw_fenlanrongqi_4 > .pw-widget:nth-child(4n + 1), .pw_fenlanrongqi_4 > .pw-cells .pw-cell:nth-child(4n + 1) {margin-left:1%;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:left;max-width:inherit;}
.pw_fenlanrongqi_4 > .pw-widget:nth-child(4n + 2), .pw_fenlanrongqi_4 > .pw-cells .pw-cell:nth-child(4n + 2) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_4 > .pw-widget:nth-child(4n + 3), .pw_fenlanrongqi_4 > .pw-cells .pw-cell:nth-child(4n + 3) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_4 > .pw-widget:nth-child(4n + 4), .pw_fenlanrongqi_4 > .pw-cells .pw-cell:nth-child(4n + 4) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_miaoshuwenben_22 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_tupian36_12 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_tuwenfenzuyi_5 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_fanhuishouye {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
.pw_nav_item_bright_right_center {color:#215ca4;font-family:Microsoft Yahei;font-size:14px;font-weight:300;letter-spacing:0.01em;line-height:1.35em;text-align:center;text-decoration:inherit;}
.pw_tupian {width:100%;min-height:;margin-right:auto;margin-left:auto;max-width:;height:;}
.pw_tupian36_5 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_miaoshuwenben_13 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;}
.pw_tuwenfenzuyi {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_tuwenfenzuyi_10 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
h6 {font-weight:600;margin-top:2.5rem;margin-bottom:1.25rem;color:#2d2d2d;font-family:Microsoft Yahei;font-size:1.2rem;line-height:1.4;}
.pw_miaoshuwenben_21 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_paixingbang {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
.pw_yejiao_0_2 {margin-left:auto;margin-right:auto;margin-top:;max-width:1200px;width:100%;min-height:14.44rem;position:;display:block;float:none;padding-top:30px;padding-bottom:30px;background-color:;margin-bottom:;border:;max-height:200px;height:; border-top: 2px solid #cb0000; }
blockquote {margin-top:2.5rem;margin-bottom:2.5rem;color:#2d2d2d;font-family:Microsoft Yahei;font-size:1.2rem;font-weight:300;line-height:1.6;margin-left:2.5rem;}
p {margin-top:1.25rem;margin-bottom:1.25rem;}
.pw_tupian36_10 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_miaoshuwenben_20 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_2019shuxuejianmojingsaisaitijiangping_2 {display:block;max-width:;width:100%;text-align:center;padding-top:40px;}
a {color:inherit;text-decoration:none;}
.pw_fenlanrongqi_7 {display:block;float:none;margin-left:auto;margin-right:auto;margin-top:30px;max-width:1200px;width:90%;}
.pw_fenlanrongqi_7 > .pw-widget:nth-child(4n + 1), .pw_fenlanrongqi_7 > .pw-cells .pw-cell:nth-child(4n + 1) {margin-left:1%;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:left;max-width:inherit;}
.pw_fenlanrongqi_7 > .pw-widget:nth-child(4n + 2), .pw_fenlanrongqi_7 > .pw-cells .pw-cell:nth-child(4n + 2) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_7 > .pw-widget:nth-child(4n + 3), .pw_fenlanrongqi_7 > .pw-cells .pw-cell:nth-child(4n + 3) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi_7 > .pw-widget:nth-child(4n + 4), .pw_fenlanrongqi_7 > .pw-cells .pw-cell:nth-child(4n + 4) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw-navigation p {margin-top:0;margin-bottom:0;}
.pw_txt_footer.pw-text p {line-height:24px;font-size:12px;text-align:center;}
.pw_miaoshuwenben_18 {color:#999999;display:block;float:none;font-family:Impact;font-size:1.1rem;font-weight:300;letter-spacing:0.05em;line-height:1.3em;margin-top:1em;text-align:center;width:100%;padding-top:20px;}
.pw_tuwenfenzuyi_11 {padding-bottom:0;padding-left:0;padding-right:0;padding-top:1px;}
.pw_chengguozhanshi {display:inline-block;padding-bottom:5px;padding-left:15px;padding-right:15px;padding-top:5px;vertical-align:middle;}
.pw_wenbenkuai_3 {display:inline-block;max-width:;width:100%;margin-top:;margin-bottom:0;max-height:100px;min-height:;padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px;}
.pw_txt_footer {border:;color:;letter-spacing:;font-weight:;font-size:;text-align:center;line-height:15px;}
.pw_tupian36_8 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_tupian36_11 {display:block;float:none;width:100%;height:;min-height:;overflow:hidden;}
.pw_2019shuxuejianmojingsaisaitijiangping {display:block;max-width:;width:100%;text-align:center;padding-top:40px;}
.pw_fenlanrongqi {display:block;float:none;margin-left:auto;margin-right:auto;margin-top:30px;max-width:1200px;width:90%;}
.pw_fenlanrongqi > .pw-widget:nth-child(4n + 1), .pw_fenlanrongqi > .pw-cells .pw-cell:nth-child(4n + 1) {margin-left:1%;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:left;max-width:inherit;}
.pw_fenlanrongqi > .pw-widget:nth-child(4n + 2), .pw_fenlanrongqi > .pw-cells .pw-cell:nth-child(4n + 2) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi > .pw-widget:nth-child(4n + 3), .pw_fenlanrongqi > .pw-cells .pw-cell:nth-child(4n + 3) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
.pw_fenlanrongqi > .pw-widget:nth-child(4n + 4), .pw_fenlanrongqi > .pw-cells .pw-cell:nth-child(4n + 4) {margin-left:0;margin-right:1%;margin-top:0.6em;margin-bottom:0.6em;width:23.75%;float:left;clear:none;max-width:inherit;}
@media screen and (max-width: 1024px) {
    .pw_2019shuxuejianmojingsaisaitijiangping_4 {width:100%;}
    .pw_2019shuxuejianmojingsaisaitijiangping {width:100%;}
    .pw_2019shuxuejianmojingsaisaitijiangping_3 {width:100%;}
    .pw_narongbaoguo {width:100%;}
    .pw_2019shuxuejianmojingsaisaitijiangping_5 {clear:;}
    .pw_2019shuxuejianmojingsaisaitijiangping_2 {width:100%;}
}
@media screen and (max-width: 768px) {
    .pw_sishixuexi_2 {display:block;padding-left:0;padding-right:0;}
    .pw_hanbaotubiao {cursor:pointer;fill:white;margin-bottom:10px;margin-top:18px;width:30px;}
    .pw_sishixuexi {display:block;padding-left:0;padding-right:0;}
    .pw_fenlanrongqi_6 > .pw-widget:nth-child(1n + 1), .pw_fenlanrongqi_6 > .pw-cells .pw-cell:nth-child(1n + 1) {clear:left;float:left;margin-bottom:0.6em;margin-left:0;margin-right:0;margin-top:0.6em;max-width:inherit;width:100%;}
    .pw_narongbaoguo {width:90%;}
    .pw_2019shuxuejianmojingsaisaitijiangping_4 {width:100%;}
    .pw_yidongshipei {display:block;}
    .pw_caidanxiang {clear:both;display:block;float:none;max-height:0;position:absolute;text-align:center;}
    .pw_sishixuexi_3 {display:block;padding-left:0;padding-right:0;}
    .pw_2019shuxuejianmojingsaisaitijiangping_3 {width:100%;}
    .pw_fenlanrongqi_5 > .pw-widget:nth-child(1n + 1), .pw_fenlanrongqi_5 > .pw-cells .pw-cell:nth-child(1n + 1) {clear:left;float:left;margin-bottom:0.6em;margin-left:0;margin-right:0;margin-top:0.6em;max-width:inherit;width:100%;}
    .pw_huodongdongtai {display:block;padding-left:0;padding-right:0;}
    .pw_2019shuxuejianmojingsaisaitijiangping_5 {clear:;}
    .pw_fenlanrongqi_4 > .pw-widget:nth-child(1n + 1), .pw_fenlanrongqi_4 > .pw-cells .pw-cell:nth-child(1n + 1) {clear:left;float:left;margin-bottom:0.6em;margin-left:0;margin-right:0;margin-top:0.6em;max-width:inherit;width:100%;}
    .pw_2019shuxuejianmojingsaisaitijiangping {width:100%;}
    .pw_fanhuishouye {display:block;padding-left:0;padding-right:0;}
    .pw_nav_item_bright_right_center {text-align:center;}
    .pw_yejiao_0_2 {margin-top:25px;}
    .pw_paixingbang {display:block;padding-left:0;padding-right:0;}
    .pw_2019shuxuejianmojingsaisaitijiangping_2 {width:100%;}
    .pw_fenlanrongqi_7 > .pw-widget:nth-child(1n + 1), .pw_fenlanrongqi_7 > .pw-cells .pw-cell:nth-child(1n + 1) {clear:left;float:left;margin-bottom:0.6em;margin-left:0;margin-right:0;margin-top:0.6em;max-width:inherit;width:100%;}
    .pw_chengguozhanshi {display:block;padding-left:0;padding-right:0;}
    .pw_fenlanrongqi > .pw-widget:nth-child(1n + 1), .pw_fenlanrongqi > .pw-cells .pw-cell:nth-child(1n + 1) {clear:left;float:left;margin-bottom:0.6em;margin-left:0;margin-right:0;margin-top:0.6em;max-width:inherit;width:100%;}
}

@media screen and (max-width: 360px) {
    .pw_yidongshipei {min-width:30px;}
    .pw_hanbaotubiao {height:;min-height:;width:30px;}
}

.pw_tupian36:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_4:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_5:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_6:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_7:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_8:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_9:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_10:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_11:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_tupian36_12:hover {transition-duration: 0.125s;filter:alpha(opacity=60);-moz-opacity:0.60;opacity:0.60;}

.pw_miaoshuwenben {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_wenbenkuai_3 {transition-property: color, background-color, border-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_wenbenkuai_3:hover {color: ;background-color: ;border-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_10 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_10:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_13 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_13:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_16 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_16:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_17 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_17:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_18 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_18:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_19 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_19:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_20 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_20:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_21 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_21:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_miaoshuwenben_22 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_miaoshuwenben_22:hover {color: #08598d;background-color: ;transition-duration: 0.125s;}

.pw_fanhuishouye {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_fanhuishouye:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}

.pw_huodongdongtai {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_huodongdongtai:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}

.pw_chengguozhanshi {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_chengguozhanshi:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}

.pw_paixingbang {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_paixingbang:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}

.pw_sishixuexi {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_sishixuexi:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}

.pw_sishixuexi_2 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_sishixuexi_2:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}

.pw_sishixuexi_3 {transition-property: color, background-color;transition-duration: 0.3s;transition-timing-function: ease-out;}
.pw_sishixuexi_3:hover {color: #ef3838;background-color: ;transition-duration: 0.125s;}